# for ide
.vscode
.idea

# for temp file
*tmp*
*.json
__pycache__
/scripts/pmu-events

# for compile output
*.out
*.o
build

# for kernel module
*.mk
*.cmd
*.ko
*.mod
*.mod.c
*.mod.o
Module.symvers
modules.order

# for build output
header/*_event.h